:root {
    --dark1: #2E3440;
    --dark2: #3B4252;
    --dark3: #434C5E;
    --dark4:#4C566A;

    --light1: #D8DEE9;
    --light2: #E5E9F0;
    --light3:#ECEFF4;

    --accent:#8FBCBB;

}

.postTitle a{
    color: inherit;
    text-decoration: none;
}

.postTitle:hover {
    text-decoration: underline;
}

.readMore a{
    color: var(--accent);
    text-decoration: none;
}

.readMore:hover {
    text-decoration: underline;
}
