:root {
  --dark1: #2E3440;
  --dark2: #3B4252;
  --dark3: #434C5E;
  --dark4:#4C566A;

  --light1: #D8DEE9;
  --light2: #E5E9F0;
  --light3:#ECEFF4;

  --accent:#8FBCBB;
}

/* html, body {
  overflow-x: hidden; /*to prevent horizontal scrolling on mobile*/
  /* height: 100%; */
/*} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: black; */
  background-color: var(--dark1);
  /* position: relative; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
